@CHARSET "EUC-KR";

@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);

.font {
	color: #993800;
	font-family: 'Nanum Pen Script', cursive;
	font-size: 25px;
	text-align: center;
}

.strong {
	color: #ff0000;
}

.form {
	text-align: center;	
	font-family: 'Nanum Pen Script', cursive;
	color: #993800;
	font-size: 25px;
}

body {
	background-color: #F29661;
}