body {
    background: #f9f9f8;
    font: 1em/1.5em arial, helvetica, sans serif;
 }
#container {
    /* max-width: 62.5em; */
    margin: auto;
 }
#navbar, #navbar ul {
    position: relative;
    display: table;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    text-transform: uppercase;
    background: #CC723D;
 }
#navbar li {
    display: table-cell;
 }
#navbar a { 
    position: relative;
    display: block;
    line-height: 3.5em;
    padding: 0 1em;
    font-size: 0.9em;
    color: #fff;
    text-decoration: none;
 }
#navbar ul {
    position: absolute;
    display: none;
    left: 0;
    padding-left: 1.6em;
    box-sizing: border-box;
    text-align: left;
    background: #993800;
 }
#navbar ul li {
    display: inline-block;
    margin-right: 1em;
 }
#navbar li:hover ul{
    display: block; 
 }
#navbar span {
    position: absolute;
    display: none;
    bottom: 0;
    left: 44%;
    width: 0;
    border: 0.6em solid transparent;
    border-bottom-color: rgba(153,56,0,0.9);
 }
 
#navbar li:hover span {
    display: block; 
 }
@media screen and (max-width:39em) {
#navbar, #navbar ul, #navbar li {
    position: static;
    display: block;
    padding-left: 0;
    text-align: left;
    background: transparent;
  }
#navbar ul li {
    display: block;
    margin-right: 0;
  }
#navbar #selected span, 
#navbar li:hover span {
    display: none;
  }
#navbar a {
    line-height: 2em;
    background: rgba(0,0,0,0.75);
  }
#navbar a:hover {
    background: rgba(153,56,0,0.9);
   /*   background: rgba(124,193,65,0.9); */
  }
 }