<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
   <typeAliases>
     <typeAlias type="cosmos.multiple.model.Multiple" alias="Multiple"/>
     <typeAlias type="cosmos.multiple.model.MultipleChoice" alias="MultipleChoice"/>
     <typeAlias type="cosmos.multiple.model.MultiplePoint" alias="MultiplePoint"/>
     <typeAlias type="cosmos.login.model.Member" alias="Member"/>
	 <typeAlias type="cosmos.login.model.Login" alias="Login"/>

	 <typeAlias type="cosmos.login.model.AccessRecord" alias="AccessRecord"/>

	 <typeAlias type="cosmos.ranking.model.AlgoRanking" alias="AlgoRanking"/>
	 <typeAlias type="cosmos.ranking.model.CodeRanking" alias="CodeRanking"/>

   </typeAliases>
   
   <environments default="development">
      <environment id="development">
         <transactionManager type="JDBC"/>
         <dataSource type="JNDI">
            <property name="data_source" value="java:comp/env/jdbc/oracle"/>
         </dataSource>
      </environment>      
   </environments>
   
   <mappers>
   		   <mapper resource="cosmos/multiple/mapper/Multiple.xml"/>
   		   <mapper resource="cosmos/login/mapper/Member.xml"/>
   		   <mapper resource="cosmos/ranking/mapper/Ranking.xml"/>
   </mappers>
   
</configuration>